.portofolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.portofolio__item {
    background: rgba(99, 140, 168, 0.226);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1 px solid transparent;
    transition: var(--transition);
}

.portofolio__item:hover {
    background: var(--color-bg-variant);
    border-color: var(--color-primary-variant);
    
}

.portofolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portofolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portofolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* RESPONSIVE BEHAVIOUR  (for medium devices) */
@media screen and (max-width: 1024px){
    .portofolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* RESPONSIVE BEHAVIOUR  (for small devices) */
@media screen and (max-width: 600px){
    .portofolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
